.basis {
  &-0 { flex-basis: 0; }
  &-1 { flex-basis: 0.25rem; /* 4px */ }
  &-2 { flex-basis: 0.5rem; /* 8px */ }
  &-3 { flex-basis: 0.75rem; /* 12px */ }
  &-4 { flex-basis: 1rem; /* 16px */ }
  &-5 { flex-basis: 1.25rem; /* 20px */ }
  &-6 { flex-basis: 1.5rem; /* 24px */ }
  &-7 { flex-basis: 1.75rem; /* 28px */ }
  &-8 { flex-basis: 2rem; /* 32px */ }
  &-9 { flex-basis: 2.25rem; /* 36px */ }
  &-10 { flex-basis: 2.5rem; /* 40px */ }
  &-11 { flex-basis: 2.75rem; /* 44px */ }
  &-12 { flex-basis: 3rem; /* 48px */ }
  &-14 { flex-basis: 3.5rem; /* 56px */ }
  &-16 { flex-basis: 4rem; /* 64px */ }
  &-20 { flex-basis: 5rem; /* 80px */ }
  &-24 { flex-basis: 6rem; /* 96px */ }
  &-28 { flex-basis: 7rem; /* 112px */ }
  &-32 { flex-basis: 8rem; /* 128px */ }
  &-36 { flex-basis: 9rem; /* 144px */ }
  &-40 { flex-basis: 10rem; /* 160px */ }
  &-44 { flex-basis: 11rem; /* 176px */ }
  &-48 { flex-basis: 12rem; /* 192px */ }
  &-52 { flex-basis: 13rem; /* 208px */ }
  &-56 { flex-basis: 14rem; /* 224px */ }
  &-60 { flex-basis: 15rem; /* 240px */ }
  &-64 { flex-basis: 16rem; /* 256px */ }
  &-72 { flex-basis: 18rem; /* 288px */ }
  &-80 { flex-basis: 20rem; /* 320px */ }
  &-96 { flex-basis: 24rem; /* 384px */ }
  &-auto { flex-basis: auto; }
  &-px { flex-basis: 1px; }
}
